.c{background-image: linear-gradient(rgb(130, 207, 238),rgb(0, 128, 81));
width: 100%;
height: 100px; color: white;}
.p{width: 100%;
height: auto;} 
.f{color: white;
background-color: green;
width: 100%; height: 400px; }
#ss{width: 30%;  justify-content: center; height: 100px;}
.clr{background-color: green;}
.h{display: flex;}
.n{height: 200px;}
.b{background-color: green;}
.z{margin-right:500px;}
.g{background-image: linear-gradient(rgb(130, 207, 238),rgb(0, 128, 81));}